.header {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 30px 0;
	z-index: 2;
}

.header__social .icon-svg {
	fill: $white;

	&:hover {
		fill: #8b9895;
	}
}
.header__menu {
	.menu {
		margin: 0;
		padding: 0;
		list-style: none;
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		opacity: 0.87;
		background-color: #6c9c5a;
		transition: all 0.5s ease-in-out;
		transform: translateX(-100%);
		visibility: hidden;
		&.active {
			display: flex;
			visibility: visible;
			transform: translateX(0%);
		}
	}
	.menu__item {
		margin-bottom: 80px;
		z-index: 1;
	}
	.menu__link {
		text-decoration: none;
		color: white;
		font-size: 45px;
		line-height: 45px;
		font-weight: bold;
		text-transform: uppercase;
		font-family: sansusWebissimo, sans-serif;
	}
}
