.bloc-decor {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.decor {
    display: flex;
}
.decor__triang {
    width: 50%;
    display: flex;
}
.triangle {
	max-height: 150px;
	width: 100%;
}
