section.hero
        div.hero__bg
            #{background__pic}
        div.section__title
            #{title__pic}
        div.hero__user
                div.user
                    div.avatar
                        div.avatar__box
                            img(src="images/repeckiy.jpg", alt="")
                    div.user__name Репецкий Александр
                    div.user__info Личный сайт веб разработчика
        div.hero__scroll-btn
                button(type="button").arrow-down 
        div.bloc-decor
            include ../common/triangle.pug
